<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Keyless Auto"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VThiefPictures"></activity>
        <activity android:name=".remotecamera" />
        <activity android:name=".update" />
        <activity android:name=".Apps" />
        <activity android:name=".Email" />
        <activity android:name=".add" />
        <activity android:name=".About" />
        <activity android:name=".Support" />
        <activity android:name=".Password" />
        <activity android:name=".Enrollment" />
        <activity android:name=".Drivers" />
        <activity android:name=".Settings" />
        <activity android:name=".signup" />
        <activity android:name=".Login" />
        <activity android:name=".homepage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>